.container {
    background-color: #35363A;
}

.project {
    width: 600px;
    margin: auto auto 80px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
}

.project .body {
    padding: 0 20px 0 20px;
    align-items: center;
    text-align: left;
}

.project .body div {
    width: 50%;
    position: relative;
}

.project .body .img {
    height: 20vw;
    aspect-ratio: 1.8/1;
    padding: 0;
}

@media screen and (max-width: 540px) {
    .project .body p {
        font-size: 0.8rem;
    }

    .container {
        padding: 50px 5% 50px 5%;
    }

    .project {
        padding: 3% 5% 3% 5%;
        margin: auto auto 80px;
    }

    .project .body div {
        width: 100%;
    }

    .project .body {
        display: block;
    }

    .project .body .img {
        height: 40vw;
        aspect-ratio: 1.8/1;
        margin-top: 30px;
    }

    .projectDetail button {
        width: 60px;
        height: 20px;
        font-size: 10px;
    }

    .projectSkills .skillImg div {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 541px) and (max-width: 900px) {
    .container {
        padding: 50px 15% 50px 15%;
    }

    .project .body p {
        font-size: 1.0rem;
    }

    .project {
        margin: auto auto 80px;
        padding: 3% 5% 3% 5%;
    }

    .project .body div {
        width: 100%;
    }

    .project .body {
        display: block;
    }

    .project .body .img {
        height: 40vw;
        aspect-ratio: 1.8/1;
        margin-top: 30px;
    }

    .projectDetail button {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }

    .projectSkills .skillImg div {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 901px) {
    .container {
        padding: 50px 15% 50px 15%;
    }

    .project .body p {
        font-size: 1.0rem;
    }

    .project {
        padding: 3%;
    }

    .project .body div {
        width: 100%;
    }

    .project .body .img {
        height: 20vw;
        aspect-ratio: 1.8/1;
        margin-top: 30px;
    }

    .projectDetail button {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }

    .projectSkills .skillImg div {
        width: 70px;
        height: 70px;
    }
}

.projectP {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5%;
}

.introduce {
    margin-top: 3%;
}

/*project-detail*/
.projectDetail {
    margin-top: 20px;
}

.projectDetail a {
    text-decoration: none;
}

.projectDetail button {
    background-color: #35363A;
    border-radius: 20px;
    text-align: center;
    color: white;
    display: inline;
    border: none;
    margin: 0 10px 0 10px;
}

/*project-skills*/
.projectSkills td {
    font-weight: bold;
}

.projectSkills p {
    margin: 0;
}

.projectSkills .skillImg {
    /*display: flex;*/
}

.projectSkills .skillImg div {
    margin-left: 10px;
}