@media screen and (max-width: 540px) {
    .name p {
        font-size: 20px;
    }

    .list .content .img {
        margin: 5px;
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 541px) {
    .name p {
        font-size: 30px;
    }

    .list .content .img {
        margin: 5px;
        width: 100px;
        height: 100px;
    }
}

.container {
    padding: 50px 15% 50px 15%;
    background-color: #FF9900;
}

.list {
    margin-bottom: 50px;
    display: inline-block;
}

.name {
    border-radius: 10px 10px 0 0;
    background-color: #1EA4FF;
    position: relative;
    width: 200px;
    height: 50px;
    top: 5px;
    display : flex;
    justify-content : center;
    align-items : center;
}

.name p {
    color: white;
    font-weight: bold;
}

.list .content {
    border: 8px solid #1EA4FF;
    border-radius: 0 30px 30px 30px;
    background-color: white;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.list .content .img {
    position: relative;
}

/*text version*/

@media screen and (max-width: 541px) {
    .table {
        margin: auto;
        border-collapse: separate;
        border-spacing: 10px 10px;
        text-align: center;
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

    .text {
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 5px;
        color: #FF9900;
    }
}

@media screen and (min-width: 540px) {
    .table {
        margin: auto;
        border-collapse: separate;
        border-spacing: 20px 20px;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .text {
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 5px;
        color: #FF9900;
    }
}